Pandas Library

In [1]:
import pandas as pd
import numpy as np

In [3]:
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [5]:
df = pd.DataFrame(data = np.arange(0,20).reshape(5,4),index = [1,2,3,4,5], columns = [1,2,3,4])

In [6]:
df.head

<bound method NDFrame.head of     1   2   3   4
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15
5  16  17  18  19>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 1 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       5 non-null      int32
 1   2       5 non-null      int32
 2   3       5 non-null      int32
 3   4       5 non-null      int32
dtypes: int32(4)
memory usage: 120.0 bytes

In [8]:
df.describe()

               1          2          3          4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv =""